
@{
    Layout = "~/views/shared/_layout.cshtml";
}
@ViewBag.addcustomer
<div class="container">

    <div class="text-center">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="individual" value="option1" checked>
            <label class="form-check-label" for="inlineRadio1">Individual</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="business" value="option2">
            <label class="form-check-label" for="inlineRadio2">Business</label>
        </div>

    </div>

    <form id="individualForm">
        <div class="form-group">
            <label for="driversLicense">Driver's License:</label>
            <input type="text" class="form-control" id="driversLicense" placeholder="Driver's License">
        </div>
        <div class="row">
            <div class="col">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <label for="lastname">Last Name:</label>
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>

    </form>

    <form id="businessForm">
        <div class="form-group">
            <label for="taxID">Tax ID:</label>
            <input type="text" class="form-control" id="taxID" placeholder="Tax ID">
        </div>
        <div class="row">
            <div class="col">
                <label for="contactTitle">Contact Title:</label>
                <input type="text" class="form-control" id="contactTitle" placeholder="Contact Title">
            </div>
            <div class="col">
                <label for="contactName">Contact Name:</label>
                <input type="text" class="form-control" id="contactName" placeholder="Contact Name">
            </div>
        </div>
        <div class="form-group">
            <label for="businessName">Business Name:</label>
            <input type="text" class="form-control" id="businessName" placeholder="Business Name">
        </div>
    </form>

    <form id="commonForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="number" class="form-control" id="phoneNumber" placeholder="Phone Number">
        </div>
        <div class="form-group">
            <label for="streetAddress">Street Address:</label>
            <input type="text" class="form-control" id="streetAddress" placeholder="Street Address">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="city">City:</label>
                    <input type="text" class="form-control" id="city" placeholder="City">
                </div>
                <div class="col">
                    <label for="state">State:</label>
                    <input type="text" class="form-control" id="state" placeholder="State">
                </div>
                <div class="col">
                    <label for="postalCode">Postal Code:</label>
                    <input type="number" class="form-control" id="postalCode" placeholder="Postal Code">
                </div>
            </div>

        </div>
        <input type="button" class="btn btn-primary" value="Add Customer" />

    </form>

</div>

<script>
    $("#individualForm").show();
    $("#businessForm").hide();

    $("#individual").on("change", function () {
        $("#individualForm").show();
        $("#businessForm").hide();
    });

    $("#business").on("change", function () {
        $("#individualForm").hide();
        $("#businessForm").show();
    });

</script>