
@{
    Layout = "~/views/shared/_layout.cshtml";
}
@ViewBag.customer

<div class="container">
    <div>
        <p>Customer ID: </p>
        <form id="customerForm" class="customer ">
            <div class="form-group row">
                <div class="col-sm-10" style="display:inline-flex">

                    <input type="text" id="txtCustomerID" placeholder="Enter Customer ID Here" class="form-control" />
                    <span class="error" style="color:red; display:none">*</span>

                </div>

                <div class="col-sm-2">
                    <input type="button" style="bottom:0" class="btn btn-primary" id="btnsearchvehicle" value="Search" />
                </div>
            </div>
        </form>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Individual</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Business</label>
                    </div>
                </div>
                <div class="col"></div>
            </div>
 

    </div>
    <a href="@Url.Action("AddCustomerForm","Customer")">
        <input type="button" class="btn btn-primary" value="Add Customer" />

    </a>
</div>
<script>


</script>